<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.pingpang.platform.data.mapper.CompetitionMapper">

	<resultMap id="playerResult" type="Player"
			   extends="com.kc.pingpang.platform.data.mapper.PlayerMapper.playerResult"/>

	<resultMap id="competitionResult" type="Competition">
		<id property="id" column="competition_id"/>
		<result property="name" column="competition_name"/>
		<result property="description" column="competition_description" />
		<result property="participantLimit" column="competition_participant_limit" />
		<result property="date" column="competition_date" />
		<result property="createTime" column="competition_create_time" />
		<result property="updateTime" column="competition_update_time"/>

		<collection property="groups" ofType="CompetitionGroup" resultMap="competitionGroupResult"/>
		<collection property="competitionPlayers" ofType="CompetitionPlayer" resultMap="competitionPlayerResult"/>
	</resultMap>

	<resultMap id="competitionGroupResult" type="CompetitionGroup">
		<id property="id" column="competition_group_id"/>
		<result property="name" column="competition_group_name"/>
		<result property="createTime" column="competition_group_create_time"/>
		<result property="updateTime" column="competition_group_update_time"/>
		<result property="competitionId" column="competition_group_competition_id"/>

		<collection property="players" ofType="CompetitionGroupPlayer" resultMap="competitionGroupPlayerResult"/>
	</resultMap>

	<resultMap id="competitionGroupPlayerResult" type="CompetitionGroupPlayer">
		<id property="id" column="competition_group_player_id"/>
		<result property="createTime" column="competition_group_player_create_time"/>
		<result property="updateTime" column="competition_group_player_update_time"/>
		<result property="playerId" column="competition_group_player_player_id"/>
		<result property="groupId" column="competition_group_player_group_id"/>

		<association property="player" javaType="Player" resultMap="playerResult"/>
	</resultMap>

	<resultMap id="competitionPlayerResult" type="CompetitionPlayer">
		<id property="id" column="competition_player_id"/>
		<result property="playerName" column="competition_player_player_name"/>
		<result property="playerId" column="competition_player_player_id"/>
		<result property="createTime" column="competition_player_create_time"/>
		<result property="competitionId" column="competition_player_competition_id"/>
	</resultMap>

	<sql id="pagingLimit">
		<include refid="com.kc.pingpang.platform.data.mapper.CommonDataMapper.pagingLimit"/>
	</sql>

	<sql id="playerColumns">
		<include refid="com.kc.pingpang.platform.data.mapper.PlayerMapper.playerColumns"/>
	</sql>

	<sql id="competitionColumns">
		tc.id AS competition_id,
		tc.name AS competition_name,
		tc.description AS competition_description,
		tc.participant_limit AS competition_participant_limit,
		tc.date AS competition_date,
		tc.create_time AS competition_create_time,
		tc.update_time AS competition_update_time
	</sql>

	<sql id="competitionGroupColumns">
		tcg.id AS competition_group_id,
		tcg.name AS competition_group_name,
		tcg.create_time AS competition_group_create_time,
		tcg.update_time AS competition_group_update_time,
		tcg.competition_id AS competition_group_competition_id
	</sql>

	<sql id="competitionGroupPlayerColumns">
		tcgp.id AS competition_group_player_id,
		tcgp.create_time AS competition_group_player_create_time,
		tcgp.update_time AS competition_group_player_update_time,
		tcgp.player_id AS competition_group_player_player_id,
		tcgp.group_id AS competition_group_player_group_id
	</sql>

	<sql id="competitionPlayerColumns">
		tcp.id AS competition_player_id,
		tcp.player_name AS competition_player_player_name,
		tcp.player_id AS competition_player_player_id,
		tcp.competition_id AS competition_player_competition_id,
		tcp.create_time AS competition_player_create_time
	</sql>

	<sql id="competitionFilter">
		<if test="filter.name != null">
			AND tc.name LIKE #{filter.name}
		</if>
	</sql>

	<select id="selectCompetitionByFilter" parameterType="map" resultMap="competitionResult">
		SELECT
			<include refid="competitionColumns"/>
		FROM
			t_competition tc
		<where>
			<include refid="competitionFilter"/>
		</where>
		ORDER BY tc.id DESC
		<include refid="pagingLimit"/>
	</select>

	<select id="countCompetitionByFilter" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			t_competition tc
		<where>
			<include refid="competitionFilter"/>
		</where>
	</select>

	<update id="updateCompetition" parameterType="map">
		UPDATE
			t_competition
		<set>
			update_time = NOW(),
			<if test="name != null">
				name = #{name},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="participantLimit != null">
				participant_limit = #{participantLimit},
			</if>
			<if test="date != null">
				date = #{date},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<select id="selectCompetitionById" parameterType="map" resultMap="competitionResult">
		SELECT
			<include refid="competitionColumns"/>,
		    <include refid="competitionPlayerColumns"/>,
		    <include refid="competitionGroupColumns"/>,
			<include refid="competitionGroupPlayerColumns"/>,
		    <include refid="playerColumns"/>
		FROM
			t_competition tc
			LEFT JOIN t_competition_player tcp ON tcp.competition_id = tc.id
			LEFT JOIN t_competition_group tcg ON tcg.competition_id = tc.id
			LEFT JOIN t_competition_group_player tcgp ON tcgp.group_id = tcg.id
			LEFT JOIN t_player tp ON tp.id = tcgp.player_id
		WHERE
			tc.id = #{id}
	</select>

	<insert id="batchInsertCompetitionGroup" parameterType="map">
		INSERT INTO t_competition_group (
			name,
			create_time,
			update_time,
			competition_id
		) VALUES
		<foreach collection="groups" item="group" separator=",">
			(
			 	#{group.name},
			 	NOW(),
			 	NOW(),
			 	#{group.competitionId}
			)
		</foreach>
	</insert>

	<insert id="insertCompetitionGroup" parameterType="map">
		INSERT INTO t_competition_group (
			name,
			create_time,
			update_time,
			competition_id
		) VALUES (
			#{name},
			NOW(),
			NOW(),
			#{competitionId}
		)
	</insert>

	<insert id="insertCompetition" parameterType="map">
		INSERT INTO t_competition (
			name,
			description,
			participant_limit,
			date,
			create_time,
			update_time
		) VALUES (
			#{name},
			#{description},
			#{participantLimit},
			#{date},
			NOW(),
			NOW()
		)
	</insert>

	<select id="selectCompetitionGroupPlayerByKey" parameterType="map" resultMap="competitionGroupPlayerResult">
		SELECT
			<include refid="competitionGroupPlayerColumns"/>,
		    <include refid="playerColumns"/>
		FROM
			t_competition_group_player tcgp
			INNER JOIN t_player tp ON tp.id = tcgp.player_id
		WHERE
			tcgp.group_id = #{groupId} AND tcgp.player_id = #{playerId}
	</select>

	<insert id="insertCompetitionGroupPlayer" parameterType="map">
		INSERT INTO t_competition_group_player(
			create_time,
			update_time,
			player_id,
			group_id
		) VALUES (
			NOW(),
			NOW(),
		    #{playerId},
		    #{groupId}
		)
	</insert>

	<delete id="deleteCompetitionGroupPlayer" parameterType="map">
		DELETE FROM t_competition_group_player WHERE id = #{id}
	</delete>

	<delete id="deleteCompetitionGroupPlayerByCompetitionIdAndPlayerId" parameterType="map">
		DELETE FROM t_competition_group_player WHERE player_id = #{competitionId} AND group_id = #{playerId}
	</delete>

	<delete id="deleteCompetitionPlayer" parameterType="map">
		DELETE FROM t_competition_player WHERE id = #{id}
	</delete>

	<select id="selectCompetitionPlayerByPlayerIdAndCompetitionId" parameterType="map" resultMap="competitionPlayerResult">
		SELECT
			<include refid="competitionPlayerColumns"/>
		FROM
			t_competition_player tcp
		WHERE
			tcp.player_id = #{playerId} AND tcp.competition_id = #{competitionId}
	</select>

	<select id="selectCompetitionPlayerByPlayerNameAndCompetitionId" parameterType="map" resultMap="competitionPlayerResult">
		SELECT
			<include refid="competitionPlayerColumns"/>
		FROM
			t_competition_player tcp
		WHERE
			tcp.player_name = #{playerName} AND tcp.competition_id = #{competitionId}
	</select>

	<select id="selectCompetitionPlayerByCompetitionId" parameterType="map" resultMap="competitionPlayerResult">
		SELECT
			<include refid="competitionPlayerColumns"/>
		FROM
			t_competition_player tcp
		WHERE
			tcp.competition_id = #{competitionId}
	</select>

	<insert id="insertCompetitionPlayer" parameterType="map">
		INSERT INTO t_competition_player (
			player_name,
			player_id,
			competition_id,
			create_time
		) VALUES (
			#{playerName},
			#{playerId},
			#{competitionId},
		    NOW()
		)
	</insert>

	<select id="selectCompetitionPlayerById" parameterType="map" resultMap="competitionPlayerResult">
		SELECT
			<include refid="competitionPlayerColumns"/>
		FROM
			t_competition_player tcp
		WHERE
			tcp.id = #{id}
	</select>

	<select id="selectNotCompetitionPlayers" parameterType="map" resultMap="playerResult">
		SELECT
			<include refid="playerColumns"/>
		FROM
			t_player tp
		WHERE
		  	NOT EXISTS (
				SELECT 1 FROM t_competition_player tcp WHERE tcp.player_id = tp.id AND tcp.competition_id = #{competitionId}
			)
	</select>

	<select id="selectNotGroupPlayers" parameterType="map" resultMap="playerResult">
		SELECT
			<include refid="playerColumns"/>
		FROM
			t_competition_player tcp
			INNER JOIN t_player tp ON tp.id = tcp.player_id
		WHERE
			tcp.competition_id = #{competitionId}
		  	AND NOT EXISTS (
				SELECT
					1
				FROM
					t_competition_group_player tcgp
					INNER JOIN t_competition_group tcg ON tcg.id = tcgp.group_id
				WHERE
				 	tcgp.player_id = tcp.player_id AND tcg.competition_id = #{competitionId}
			)
	</select>

	<delete id="deleteCompetitionGroupPlayerByGroupId" parameterType="map">
		DELETE FROM t_competition_group_player WHERE group_id = #{groupId}
	</delete>

	<delete id="deleteCompetitionGroup" parameterType="map">
		DELETE FROM t_competition_group WHERE id = #{groupId}
	</delete>

	<select id="selectLastCompetitionGroupByCompetitionId" parameterType="map" resultMap="competitionGroupResult">
		SELECT
			<include refid="competitionGroupColumns"/>
		FROM
			t_competition_group tcg
		WHERE
			tcg.competition_id = #{competitionId}
		ORDER BY tcg.id DESC
		LIMIT 1
	</select>

	<delete id="deleteCompetitionPlayerByPlayerId" parameterType="map">
		DELETE FROM t_competition_player WHERE player_id = #{playerId}
	</delete>

	<delete id="deleteCompetitionGroupPlayerByPlayerId" parameterType="map">
		DELETE FROM t_competition_group_player WHERE player_id = #{playerId}
	</delete>

	<update id="updateCompetitionGroup" parameterType="map">
		UPDATE
			t_competition_group
		<set>
			<if test="name != null">
				name = #{name},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
</mapper>