<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.pingpang.platform.data.mapper.PlayerMapper">

	<resultMap id="playerResult" type="Player">
		<id property="id" column="player_id"/>
		<result property="name" column="player_name"/>
		<result property="createTime" column="player_create_time" />
		<result property="updateTime" column="player_update_time" />
	</resultMap>

	<sql id="pagingLimit">
		<include refid="com.kc.pingpang.platform.data.mapper.CommonDataMapper.pagingLimit"/>
	</sql>

	<sql id="playerColumns">
		tp.id AS player_id,
		tp.name AS player_name,
		tp.create_time AS player_create_time,
		tp.update_time AS player_update_time
	</sql>

	<select id="selectPlayerById" parameterType="map" resultMap="playerResult">
		SELECT
			<include refid="playerColumns"/>
		FROM
			t_player tp
		WHERE
			tp.id = #{id}
	</select>

	<select id="selectPlayerByName" parameterType="map" resultMap="playerResult">
		SELECT
			<include refid="playerColumns"/>
		FROM
			t_player tp
		WHERE
			tp.name = #{name}
	</select>

	<insert id="insertPlayer" parameterType="map"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_player (
			name,
			create_time,
			update_time
		) VALUES (
		    #{name},
		    NOW(),
		    NOW()
	    )
	</insert>

	<sql id="playerFilter">
		<if test="filter.name != null">
			AND tp.name LIKE #{filter.name}
		</if>
	</sql>

	<select id="selectPlayerByFilter" parameterType="map" resultMap="playerResult">
		SELECT
			<include refid="playerColumns"/>
		FROM
			t_player tp
		<where>
			<include refid="playerFilter"/>
		</where>
		ORDER BY tp.id DESC
		<include refid="pagingLimit"/>
	</select>

	<select id="countPlayerByFilter" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			t_player tp
		<where>
			<include refid="playerFilter"/>
		</where>
	</select>

	<update id="updatePlayer" parameterType="map">
		UPDATE
		    t_player
		<set>
			<if test="name != null">
				name = #{name}
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<delete id="deletePlayer" parameterType="map">
		DELETE FROM t_player WHERE id = #{id}
	</delete>
</mapper>